extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.py-5
        .row.justify-content-center
            .col-md-6.col-lg-5
                .card.shadow-sm
                    .card-body.p-4
                        h3.text-center.mb-4 Chỉnh sửa thông tin tài khoản

                        form(action="/user/info/edit" method="POST" enctype="multipart/form-data")
                            .mb-3
                                label.form-label Họ và tên
                                input.form-control(type="text" id="fullname" name="fullname" placeholder="Nhập họ tên" value=infoUser.fullname) 

                            .mb-3
                                label.form-label Email
                                input.form-control(type="email" id="email" name="email" placeholder="Nhập email" value=infoUser.email)

                            .mb-3
                                label.form-label Mật khẩu hiện tại
                                input.form-control(type="password" id="password" name="password")

                            .mb-3
                                label.form-label Mật khẩu mới
                                input.form-control(type="password" id="newPassword" name="newPassword")
                            
                            .mb-3
                                label.form-label Xác nhận mật khẩu mới
                                input.form-control(type="password" id="confirmNewPassword" name="confirmNewPassword")

                            .mb-3
                                div(class="form-group" upload-image)
                                    label(for="avatar") Cập nhật ảnh 
                                    input(
                                        type="file" class="form-control-file" id="avatar" name="avatar" 
                                        accept="image/*" upload-image-input
                                    )
                                    div(class="image-preview-wrapper")
                                        img(
                                            upload-image-preview class="image-preview"
                                            src=infoUser.avatar
                                        )
                                        button(type="button" class="btn-close" aria-label="Close" button-close)
                           
                            button.btn.btn-primary.w-100(type="submit") Cập nhật
        